.App {
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: #ef5350;
}
.navbar-brand {
  margin-left: 1rem;
}

.card {
  width: 18rem;
  padding: 1rem;
}
.card-img-top {
  height: 15rem;
}

.pokemonListContainer {
  padding-top: 2rem;
}

.cardContainer.normal {
  background: burlywood;
}
.cardContainer.fire {
  background: orangered

}
.cardContainer.poison {
background: purple
}
.cardContainer.ground {
background: brown
}
.cardContainer.electric {
background: goldenrod
}
.cardContainer.fairy {
 background: plum
}
.cardContainer.grass {
background: greenyellow
}
.cardContainer.water {
background: cyan
}